body {
    margin: 0 auto;
    width: 60%;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 0px 35px 1px rgb(172, 172, 172);
    ;
}

*{
    margin:0;
    padding:0;
}

nav {
    background-color: #1a1a1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    color: white;
}

.menu>div {
    margin: 8px;
    font-size: 12px;
    text-align: center;
}

/* FIN HEADER */

/* SECTIONS PAIRS 2-4-6*/

section {
    width: 100%;
}

.container2, .container4, .container6{
    width: 100%;
    margin: 55px 0px;

}

.titre h1{
    background-color: #334d5c;
    font-size: 45px;
    color: white;
    text-align: center;
    width: 300px;
    padding: 2% 6%;
    margin:auto;
    font-weight: 300;
}

.contenu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenu p{
    width:50%;
    line-height: 2;
}

/* SECTION 1 */

.container1 {
    background-color: #334d5c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 45px 0px;
}

.container1 img {
    width: 15%;

}

.titres h1, .titres p {
    color: white;
    font-weight: 300;
}

.titres h1 {
    font-size: 35px;
}

.titres p {
    font-size:20px;
    margin-top: 15px;
}


/* SECTION IMPAIRS 3-5-7 */

.containerImpaire {
    background-color: #eae3d6;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0px;
}
.containerImpaire div {
    text-align: center;
}
.containerImpaire div>img{
    width: 100px;
    margin-bottom: 25px;
}

/*SECTION 3*/

section:nth-child(6){
    background-color: #eae3d6;
    padding: 0px 0px;  
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}

section:nth-child(6)>div{
    width:80%;
    display: flex;
    justify-content: space-evenly;
    gap:75px;
}




/* FOOTER */

footer {
    background-color: #393a3b;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding:50px 0px;
}


.ftrIcons img{
    width: 60px;
    margin: 40px 15px 0px 0px;
}